.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
.form,.text_field {
    width: 340px!important;
}
.text_field {
    margin-bottom: 20px!important;
}
.auth_error {
    margin: 20px 0;
    color: #999;
    font-family: Roboto,sans-serif;
}
